<form {{action "postAnswer" on="submit"}}>
  <fieldset>
    <legend>POST AN ANSWER:</legend>

    {{input type="text" placeholder="Your name" value=author data-test-author-input=true}}

    <div class="md__container">
      {{#mobiledoc-editor on-change=(action 'mobiledocWasUpdated') as |editor|}}
        <div class="md__toolbar">
          <div class="md__toolbar-section">
            {{#mobiledoc-markup-button editor=editor for="strong"}}{{fa-icon  "bold"}}{{/mobiledoc-markup-button}}
            {{#mobiledoc-markup-button editor=editor for="em"}}{{fa-icon  "italic"}}{{/mobiledoc-markup-button}}
          </div>
          <div class="md__toolbar-section">
            {{#mobiledoc-section-button editor=editor for="h1"}}{{fa-icon "header"}}{{/mobiledoc-section-button}}
            {{#mobiledoc-section-button editor=editor for="ul"}}{{fa-icon "list-ul"}}{{/mobiledoc-section-button}}
            {{#mobiledoc-section-button editor=editor for="ol"}}{{fa-icon "list-ol"}}{{/mobiledoc-section-button}}
          </div>
          <div class="md__toolbar-section">
            {{#mobiledoc-link-button editor=editor}}{{fa-icon "link"}}{{/mobiledoc-link-button}}
            {{#mobiledoc-markup-button editor=editor for="code"}}{{fa-icon  "code"}}{{/mobiledoc-markup-button}}
          </div>
        </div>
      {{/mobiledoc-editor}}
    </div>

    <!-- {{simditor-editor value=textObj update=(action (mut textObj.content)) editor=(mut editor) data-test-text-input=true}} -->
  </fieldset>
  <button type="submit" disabled={{formIncomplete}} data-test-answer-submit>SUBMIT</button>
</form>
