{{#if session.isAuthenticated}}

  <form class="c-answer-form__form" {{action "postAnswer" on="submit"}} data-test-answer-form>
      <legend>POST AN ANSWER:</legend>

      <div class="md__container">
        {{#mobiledoc-editor on-change=(action 'mobiledocWasUpdated') as |editor|}}
          <div class="md__toolbar">
            <div class="md__toolbar-section">
              {{#mobiledoc-markup-button editor=editor for="strong"}}{{fa-icon  "bold"}}{{/mobiledoc-markup-button}}
              {{#mobiledoc-markup-button editor=editor for="em"}}{{fa-icon  "italic"}}{{/mobiledoc-markup-button}}
            </div>
            <div class="md__toolbar-section">
              {{#mobiledoc-section-button editor=editor for="h1"}}{{fa-icon "header"}}{{/mobiledoc-section-button}}
              {{#mobiledoc-section-button editor=editor for="ul"}}{{fa-icon "list-ul"}}{{/mobiledoc-section-button}}
              {{#mobiledoc-section-button editor=editor for="ol"}}{{fa-icon "list-ol"}}{{/mobiledoc-section-button}}
            </div>
            <div class="md__toolbar-section">
              {{#mobiledoc-link-button editor=editor}}{{fa-icon "link"}}{{/mobiledoc-link-button}}
              {{#mobiledoc-markup-button editor=editor for="code"}}{{fa-icon  "code"}}{{/mobiledoc-markup-button}}
            </div>
          </div>
        {{/mobiledoc-editor}}
      </div>

    <button class="c-answer-form__submit-btn" type="submit" disabled={{formIncomplete}} data-test-answer-submit>SUBMIT</button>
  </form>

{{else}}

  <div class="c-answer-form__flash flash-notice" data-test-login-notice>
    <span>{{#link-to 'login'}}Login{{/link-to}} to post an answer.</span>
  </div>

{{/if}}
