
  <div class="c-comment__image">
    <img src={{comment.author.avatar.url}}>
  </div>
  <div class="c-comment__content">
    <h1 data-test-comment-author>{{comment.author.username}} says:</h1>
    {{render-mobiledoc mobiledoc=comment.mobiledoc cardNames=(mobiledoc-card-names) data-test-comment-text=true}}
    <p class="c-comment__detail">posted on {{comment.formattedDate}}</p>
  </div>
  {{yield}}
