<header>
  <nav class="nav">
    <div class="nav__logo">
      {{#link-to "questions.index"}}EMBER Q&A{{/link-to}}
    </div>

    {{#if media.isMobile}}

      <button {{action (mut isShowingNav) true}} class="mobile-nav__menu-icon">☰</button>

      {{#if isShowingNav}}

          {{#modal-dialog
            onClose=(action (mut isShowingNav) false)
            tetherTarget="body"
            targetAttachment="top right"
            attachment="top right"
          }}

            <div {{action (mut isShowingNav) false}} class="mobile-nav__inner">

              {{yield (hash
                link-to=(component "link-to" class="mobile-nav__link")
              )}}

              {{#if session.isAuthenticated}}
                <a {{action "invalidateSession"}} class="mobile-nav__link">LOGOUT</a>

              {{else}}

                {{link-to "LOGIN" "login" class="mobile-nav__link"}}

              {{/if}}

            </div>

          {{/modal-dialog}}

      {{/if}}

      {{else}}

        <div class="nav__menu">

          {{yield (hash
            link-to=(component "link-to" class="nav__link")
          )}}

          {{#if session.isAuthenticated}}
            <a {{action 'invalidateSession'}} class="nav__link">LOGOUT</a>

          {{else}}

            {{link-to "LOGIN" "login" class="nav__link"}}

          {{/if}}

          {{#unless media.isMobile}}

            {{c-search-bar onSubmit=(action "doSearch") searchTerm=search.searchTerm class="nav__link"}}

          {{/unless}}

        </div>

    {{/if}}



  </nav>
</header>
