{{#unless session.isAuthenticated}}
  <form {{action 'authenticate' on='submit'}} class="c-login-form {{media.classNames}}" data-test-login-form>
    {{#if errorMessage}}
      <div class="flash-error">
        <span>{{errorMessage}}</span>
      </div>
    {{/if}}
    <label for="identification">USERNAME</label>
    {{input id='identification' placeholder='Enter Username' value=identification}}
    <label for="password">PASSWORD</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit" class="c-login-form__btn">LOGIN</button>
  </form>
{{/unless}}
{{#if session.isAuthenticated}}
  <div class="flash-notice">
    <span>Currently logged in as <span data-test-current-username>{{currentUser.user.username}}</span>. <a {{action 'invalidateSession'}} data-test-logout-link>Logout</a></span>
  </div>
{{/if}}
