<span class="account-details__label">
  {{label}}:
</span>

{{#if isEditing}}
  <form>
    {{#if showError}}
      <span class="flash-error">Oops, an error occured...</span>
    {{/if}}
    {{input value=dirtyField type="text"}}
    <div class="account-details__form-btns">
      <button {{action 'onSubmit' field dirtyField}}>
        {{fa-icon 'check'}} Save
      </button>
      <button {{action 'cancelEdit'}}>
        {{fa-icon 'times'}} Cancel
      </button>
    </div>
  </form>
{{else}}
  <span class="account-details__info">
    {{get user field}}
  </span>
  <button class="account-details__edit-btn" {{action 'editField'}}>
    {{fa-icon 'pencil'}}
  </button>
{{/if}}
