{{c-route-title-header title='CHANGE PASSWORD' isChild=true}}
<form class="profile-password__form">
  {{#if showError}}
    <span class="flash-error">Oops, an error occurred. Changes not saved.</span>
  {{/if}}
  {{#if showSuccess}}
    <span class="flash-success">Password successfully updated.</span>
  {{/if}}
  <label>Current Password:</label>
  {{input value=currentPassword type='password'}}
  <label>New Password:</label>
  {{input value=newPassword type='password'}}
  <label>Confirm New Password:</label>
  {{input value=confirmedNew type='password'}}
  {{#if (and hasNewPassword hasConfirmedPassword (not passwordsMatch))}}
    <span class="profile-password__match-error">Passwords do not match.</span>
  {{/if}}
  <button type="submit" class="profile-password__submit-btn" {{action (perform savePassword currentPassword newPassword)}} disabled={{not formValid}}>Update Password</button>
</form>
