<div class="route-header">
  <h1 class="route-header__title">ALL QUESTIONS</h1>
</div>

<div class="question-toolbar">
  <div class="question-toolbar__sort-params-select">
    <label>sort by:</label>
    <select onchange={{action (mut sortOption) value="target.value"}}>
      {{#each sortOptions as |option|}}
        <option value={{option.id}} selected={{eq sortOption option.id}}>{{option.placeholder}}</option>
      {{/each}}
    </select>
  </div>
</div>

<table class="question-table">
  {{#each sortedQuestions as |question|}}
        <tr class="question-table__question-row">
          <td class="question-table__question-data question-table__question-data--answers">
              <div class="answers">
                {{#if question.answers}}
                  <span class="answers-number">{{question.answers.length}}</span><span class="has-answers">{{answer-amount question.answers.length}}</span>
                {{else}}
                  <span class="no-answers">NEEDS ANSWER</span>
                {{/if}}
              </div>
          </td>
          <td class="question-table__question-data question-table__question-data--subject">
              <h3>
                {{#link-to "questions.question" question class="question-table__question-link"}}
                  {{question.subject}}
                {{/link-to}}
              </h3>
          </td>
          <td class="question-table__question-data question-table__question-data--details"><p>posted by <span class="author">{{question.author}}</span> on <span class="date">{{question.formattedDate}}</span></p></td>
        </tr>
  {{/each}}
</table>


{{outlet}}
