
<form class="new-question-form" {{action "createQuestion" on="submit"}}>
  <fieldset>
    <legend>Ask a new question:</legend>
    {{input type="text" placeholder="Your name" value=author}}
    {{input type="text" placeholder="Subject" value=subject}}
    {{textarea placeholder="Question" value=text rows=10}}
  </fieldset>
  <button type="submit">Submit</button>
</form>

{{outlet}}
