{{c-route-title-header title="ASK A QUESTION"}}

{{#if session.isAuthenticated}}

  <form class="new-question-form" {{action "createQuestion" on="submit"}} data-test-new-question-form>
      {{input type="text" placeholder="Subject" value=subject data-test-subject-input=true}}
      <div class="md__container">
        {{#mobiledoc-editor
          on-change=(action 'mobiledocWasUpdated')
          cards=(mobiledoc-component-cards)
          as |editor|}}
          {{md-toolbar editor=editor}}
        {{/mobiledoc-editor}}
      </div>

    <button class="new-question-form__submit-btn" type="submit" disabled={{questionFormInvalid}} data-test-submit-btn>SUBMIT</button>
  </form>

{{else}}

  <div class="new-question-form__flash flash-notice" data-test-login-notice>
    <span>Please {{#link-to 'login'}}login{{/link-to}} to post a new question.</span>
  </div>

{{/if}}
