<div class="route-header">
  <h1 class="route-header__title">ASK A QUESTION</h1>
</div>

<form class="new-question-form" {{action "createQuestion" on="submit"}}>
  <fieldset>
    <legend>ASK A NEW QUESTION:</legend>
    {{input type="text" placeholder="Your name" value=author}}
    {{input type="text" placeholder="Subject" value=subject}}
    <!-- {{simditor-editor value=textObj update=(action (mut textObj.content)) editor=(mut editor)}} -->
    <div class="md__container">
      {{#mobiledoc-editor as |editor|}}
      <div class="md__toolbar">
        <div class="md__toolbar-section">
          {{#mobiledoc-markup-button editor=editor for="strong"}}{{fa-icon  "bold"}}{{/mobiledoc-markup-button}}
          {{#mobiledoc-markup-button editor=editor for="em"}}{{fa-icon  "italic"}}{{/mobiledoc-markup-button}}
        </div>
        <div class="md__toolbar-section">
          {{#mobiledoc-section-button editor=editor for="h1"}}{{fa-icon "header"}}{{/mobiledoc-section-button}}
          {{#mobiledoc-section-button editor=editor for="ul"}}{{fa-icon "list-ul"}}{{/mobiledoc-section-button}}
          {{#mobiledoc-section-button editor=editor for="ol"}}{{fa-icon "list-ol"}}{{/mobiledoc-section-button}}
        </div>
        <div class="md__toolbar-section">
          {{#mobiledoc-link-button editor=editor}}{{fa-icon "link"}}{{/mobiledoc-link-button}}
        </div>
      </div>
    {{/mobiledoc-editor}}
    </div>
  </fieldset>

  <button type="submit" disabled={{questionFormInvalid}}>SUBMIT</button>
</form>



<!-- <div class="md__container">
  {{#mobiledoc-editor as |editor|}}
  <div class="md__toolbar">
    <div class="md__toolbar-section">
      {{#mobiledoc-markup-button editor=editor for="strong"}}{{fa-icon  "bold"}}{{/mobiledoc-markup-button}}
      {{#mobiledoc-markup-button editor=editor for="em"}}{{fa-icon  "italic"}}{{/mobiledoc-markup-button}}
    </div>
    <div class="md__toolbar-section">
      {{#mobiledoc-section-button editor=editor for="h1"}}{{fa-icon "header"}}{{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="ul"}}{{fa-icon "list-ul"}}{{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="ol"}}{{fa-icon "list-ol"}}{{/mobiledoc-section-button}}
    </div>
    <div class="md__toolbar-section">
      {{#mobiledoc-link-button editor=editor}}{{fa-icon "link"}}{{/mobiledoc-link-button}}
    </div>
  </div>
{{/mobiledoc-editor}}
</div> -->
