{{question-block question=model}}
<div class="question-answers">
  {{#if model.answers}}
    <ul>
      {{#each model.answers as |answer|}}
        <li class="question-answers__answer">
          <h6>Reply from {{answer.author}}:</h6>
          <p>{{answer.text}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="question-answers__message">No answers yet.</p>
  {{/if}}
</div>
{{answer-form question=model on-submit=(action "createAnswer")}}
