<ul>
  <li><img src={{model.avatar}}></li>
  <li><span>Username: </span>{{model.username}}</li>
  <li><span>Email: </span>{{model.email}}</li>
  <li><span>First Name: </span>{{model.name}}</li>
  <li><span>Last Name: </span>{{model.surname}}</li>
  <li><span>Questions asked: </span>{{model.questions.length}}</li>
  <li><span>Questions answered: </span>{{model.answers.length}}</li>
</ul>

{{outlet}}
