<header>
  <nav class="nav">
    <div class="nav__logo">
      {{#link-to "questions.index"}}EMBER Q&A{{/link-to}}
    </div>
    <div class="nav__menu-icon"><button {{action 'toggleMobileMenu'}}>MENU</button></div>
    <ul class="nav__menu {{if mobileMenuHidden 'nav__menu--is-hidden'}}">
      <li class="nav__menu-item">{{#link-to "questions.list"}}VIEW ALL{{/link-to}}</li>
      <li class="nav__menu-item">{{#link-to "questions.new"}}NEW QUESTION{{/link-to}}</li>
      <li class="nav__menu-item">
        <form class="search-bar" {{action 'searchAll' on="submit"}}>
          {{input type="search" value=searchTerm placeholder="Search questions"}}
          <button type="submit"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon"></button>
        </form>
      </li>
      {{yield}}
    </ul>
  </nav>
</header>
<main>
  {{outlet}}
</main>
